body{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    
    background-color: #849d8f;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.button{
    display: inherit;

    border-radius: 32px;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 2px 2px 0 var(--deep-red-64);
    

    text-align: center;
    vertical-align: bottom;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    text-decoration: none;
    color: #fefefe;
}
.main-navigation{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}
.site-navigation,
.user-navigation{
    list-style: none;
}
.site-navigation a,
.user-navigation a{
    color: #ffffff;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
    color: #ffbc9e;
}
.slide{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}
.give-both{
    width: 280px;
    height: 64px;
    font-size: 32px;
}
.index-columns{
    
}
.index-columns h2{
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
}
.razz{
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;

    background-image: url("../img/razz.jpg");
    background-position: 0 0;
    width: 560px;
    height: 229px;
    object-fit: contain;
    border-radius: 15px;
}
.chocolate{
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;

    background-image: url("../img/choko-palki.jpg");
    background-position: 0 0;
    width: 560px;
    height: 229px;
    object-fit: contain;
    border-radius: 15px;
}

.razz a{
    width: 165px;
    height: 46px;
    opacity: 0.99;
    font-size: 18px;
}
.chocolates{
    width: 189px;
    height: 45px;
    opacity: 0.99;
    font-size: 18px;
}
.hit{
    display: inherit;

    list-style: none;
}
.hit a{
    text-decoration: none;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.hit-img{
    border-radius: 200px;
}
.hit-a{
    text-decoration: none;
    border-bottom:1px solid #ffffff;
}
.about-us{
    background-image: url("../img/wafer.jpg");
    width: 1146px;
    height: 306px;
    object-fit: contain;
    border-radius: 15px

}
.about-us h3{
    width: 1013px;
    height: 54px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.news{
    background-color: #ffffff;
    background-image: url(../img/rusbery.jpg);
    width: 560px;
    height: 220px;
    object-fit: contain;
    border-radius: 15px;

}
.news h2{
    width: 161px;
    height: 14px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.news a{
    width: 279px;
    height: 84px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}
.subscription{
    display: inherit;

    background-color: #f8f7f4;
    width: 549px;
    height: 211px;
    border-radius: 10px;

    background-image: url(../img/massage.svg);
    width: 560px;
    height: 220px;
    object-fit: contain;

    
}
.subscription-text{
    width: 506px;
    height: 61px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
    color: #5a5a5a;
}
.subscription-button{
    width: 91px;
    height: 17px;
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fefefe;

    width: 129px;
    height: 44px;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 22px;
}
.modal{
    color: #000000;

    width: 478px;
    height: 443px;
    border-radius: 10px;
    background-color: #f8f7f4;
}
.modal-button{
    color: #fefefe;
    width: 91px;
    height: 17px;
    font-size: 18px;
    line-height: 24px;


    width: 139px;
    height: 44px;
    border-radius: 22px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);

}
.adress{

}
.adress ul{
    list-style: none;
}
.adress-button{
    display: inherit;
    text-decoration: none ;

    width: 252px;
    height: 44px;
    border-radius: 22px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
    color: #fefefe;
}
.main-footer{
    height: 103px;
    color: #ffffff;
}
.footer-social,
.footer-information{
    list-style: none;
}
.footer-social a,
.footer-information a{
    color: #ffffff;
    text-decoration: none;
    border-bottom:1px solid #ffffff;
}
.footer-social{

}
.footer-information{

}








.catalog{
    
}